<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>2012/01/18-15:07:40</string>
	<key>BuildID</key>
	<string>19243</string>
	<key>BuildVersion</key>
	<string>66.492997</string>
	<key>CFBundleExecutable</key>
	<string>AdobeAGM</string>
	<key>CFBundleGetInfoString</key>
	<string>AdobeAGM 4.26.17.19243, © 1995-2009 Adobe Systems Incorporated.</string>
	<key>CFBundleIdentifier</key>
	<string>com.adobe.AGM</string>
	<key>CFBundleName</key>
	<string>AdobeAGM</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>AdobeAGM 4.26.17.19243</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>4.26.17.19243</string>
	<key>Configuration</key>
	<string>AGM Min Release ST</string>
</dict>
</plist>
