<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AdobeCrashReporter</string>
	<key>CFBundleGetInfoString</key>
	<string>&quot;AdobeCrashReporter version 6.0, Copyright 2012 Adobe Systems Inc.&quot;</string>
	<key>CFBundleIdentifier</key>
	<string>com.adobe.AdobeCrashReporter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AdobeCrashReporter</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>6.0.20120201</string>
	<key>CFBundleVersion</key>
	<string>6.0.20120201</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
